<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<section layout:fragment="content">
<div class="container">
    <h1 th:text="${tutorial.title}">Tutorial Title</h1>
    <div th:if="${tutorial.type.name() == 'VIDEO'}">
        <video width="600" controls>
            <source th:src="@{${tutorial.filePath}}" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>

    <div th:if="${tutorial.type.name() == 'ARTICLE'}">
        <p th:utext="${tutorial.articleContent}">Article content here...</p>
    </div>

    <a th:href="@{/student/sections/{id}/tutorials(id=${tutorial.section.id})}">Back to Section</a>
</div>
</section>>
