<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Aminah eLearning'">Aminah eLearning</title>

    <!-- Local CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}"> <!-- FontAwesome -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

</head>
<body class="d-flex flex-column min-vh-100">

<!-- Header -->
<div th:replace="~{'layout/fragments/header' :: navbar}"></div>

<div class="d-flex flex-grow-1">
    <!-- Sidebar -->
    <div th:replace="~{'layout/fragments/sidebar' :: sidebar}"></div>

    <!-- Page content -->
<!--    <main class="flex-grow-1 p-3" layout:fragment="content">-->
    <main class="flex-grow-1 px-2 py-3" layout:fragment="content">

    <!-- content from pages -->
    </main>
</div>

<footer th:replace="~{layout/fragments/footer :: footer}"></footer>

<!-- Local JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
<script th:src="@{/js/dr/dr-courses.js}"></script>

</body>
</html>

