
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/base}">
<head>

    <title>Manage Courses</title>

</head>
<body>

<section layout:fragment="content">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold"><i class="fas fa-graduation-cap me-2"></i>Your Courses</h2>
        <button class="btn btn-primary" id="btnCreateCourse">
            <i class="fas fa-plus-circle me-1"></i> New Course
        </button>
    </div>

    <!-- Courses List -->
    <div th:each="course : ${courses}" class="course-card mb-4 p-3 border rounded">

        <!-- Course Header -->
        <div class="d-flex justify-content-between align-items-start course-header">
            <div>
                <h4>
                    <i class="fas fa-book-medical text-secondary me-2"></i>
                    <span th:text="${course.title}"></span>
                </h4>
                <p th:text="${course.description}"></p>
                <div class="course-badges mt-1">
                    <span class="badge bg-secondary">
                        <i class="fas fa-dollar-sign me-1"></i>
                        <span th:text="${course.price}"></span>
                    </span>
                    <span class="badge bg-info">
                        <i class="fas fa-circle-notch me-1"></i>
                        <span th:text="${course.published}"></span>
                    </span>
                </div>
            </div>

            <div class="d-flex gap-2 course-actions">
                <button class="btn btn-success btn-sm btn-add-section" th:data-course-id="${course.id}"
                        title="Add Section">
                    <i class="fas fa-layer-group"></i>
                </button>

                <button class="btn btn-info btn-sm"
                        title="Shoe EnrolledIn Students"
                        th:onclick="'showEnrollments(' + ${course.id} + ')'">
                    <i class="fas fa-users me-1"></i>
                </button>


                <button class="btn btn-warning btn-sm btnEditCourse" th:data-course-id="${course.id}"
                        title="Edit Course">
                    <i class="fas fa-edit"></i>
                </button>

                <button class="btn btn-danger btn-sm btn-delete-course"
                        th:data-course-id="${course.id}"
                        title="Delete Course">
                    <i class="fas fa-trash-alt"></i>
                </button>

            </div>
        </div>

        <!-- Sections -->
        <div class="sections-container mt-3" th:id="'sections-container-' + ${course.id}">
            <div class="text-center text-muted"><i class="fas fa-spinner fa-spin me-1"></i>Loading sections...</div>
        </div>

        <!-- Students fragment-->
<!--        <div class="students-container mt-3" th:id="'students-container-' + ${course.id}">-->
<!--            <div class="text-center text-muted"><i class="fas fa-spinner fa-spin me-1"></i>Loading students...</div>-->
<!--        </div>-->

    </div>

    <!-- Pagination -->
    <nav aria-label="Course navigation" class="mt-3">
        <ul class="pagination pagination-aminah justify-content-center">

            <!-- Previous -->
            <li class="page-item"
                th:classappend="${coursesPage.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="${coursesPage.hasPrevious()} ?
                        @{/dr/courses(page=${coursesPage.number - 1})} : '#'">
                    Previous
                </a>
            </li>

            <!-- Page numbers -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, coursesPage.totalPages - 1)}"
                th:classappend="${i == coursesPage.number} ? 'active'">
                <a class="page-link"
                   th:text="${i + 1}"
                   th:href="@{/dr/courses(page=${i})}">
                </a>
            </li>

            <!-- Next -->
            <li class="page-item"
                th:classappend="${coursesPage.hasNext()} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="${coursesPage.hasNext()} ?
                        @{/dr/courses(page=${coursesPage.number + 1})} : '#'">
                    Next
                </a>
            </li>

        </ul>
    </nav>

    <div th:replace="~{dr/modals/modalCreateCourse :: modal}"></div>
    <div th:replace="~{dr/modals/modalAddTutorial :: modal}"></div>
    <div th:replace="~{dr/modals/modalSection :: modal}"></div>
    <div th:replace="~{dr/modals/modalDeleteCourse :: modal}"></div>
    <div th:replace="~{dr/modals/modalViewEnrollments :: modal}"></div>
    <div th:replace="~{dr/modals/modalViewTutorial :: modal}"></div>
    <div th:replace="~{dr/modals/modalDeleteSection :: modal}"></div>
    <div th:replace="~{dr/modals/modalDeleteTutorial :: modal}"></div>


</section>
</body>
</html>
