<div th:fragment="modal">
<div class="modal fade" id="modalViewTutorial" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded-4 shadow-lg border-0">

            <div class="modal-header bg-aminah text-white">
                <h5 class="modal-title fw-bold" id="viewTutorialTitle"></h5>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <!-- File preview -->
                <div id="viewFileSection" class="d-none">
                    <div id="viewFileContainer" class="mt-2"></div>
                </div>

                <!-- Article -->
                <!-- Article -->
                <div id="viewArticleSection" class="d-none">
                    <div id="viewArticleContent"
                         class="p-3 bg-light rounded border small"
                         style="overflow:hidden; max-width:100%;">
                    </div>
                </div>



                <!-- Quiz -->
                <div id="viewQuizSection" class="d-none">
                    <div id="viewQuizQuestionsContainer"></div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
</div>