<div th:fragment="students-list">
    <ul class="list-group">
        <li class="list-group-item" th:each="student : ${studentsPage.content}" th:text="${student.user.username}"></li>
    </ul>
    <!-- Pagination -->
    <nav th:if="${studentsPage.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:each="i : ${#numbers.sequence(0, studentsPage.totalPages-1)}"
                th:classappend="${i} == ${studentsPage.number} ? 'active'">
                <a class="page-link" th:href="javascript:void(0);" th:onclick="'loadStudents(' + ${courseId} + ',' + ${i} + ')' " th:text="${i+1}"></a>
            </li>
        </ul>
    </nav>
</div>
<nav th:if="${totalPages > 1}">
    <ul class="pagination">
        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages-1)}"
            th:classappend="${i} == ${currentPage} ? 'active'">
            <a class="page-link" href="javascript:void(0)"
               th:onclick="'loadTutorials(' + ${courseId} + ',' + ${i} + ')' "
               th:text="${i+1}"></a>
        </li>
    </ul>
</nav>

